.footer {
  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    max-width: 1500px;
    color: $color-neutral;
    font-size: $font-clamp-nano;
  }
}
